<div class="container">
    <mat-card>
        <div class="pageTitleHolder">
            <h2 class="tableHeader" *ngIf="noMuscleGroupSelected()">Hypertrophy Training Landmarks</h2>
            <h2 class="tableHeader" *ngIf="!(noMuscleGroupSelected())">
                <mat-icon class="rpHoverColor greyColor" (click)="goBackToDashBoard()">keyboard_backspace</mat-icon><br>
                {{this.selectedMuscleGroup.Muscle}} Training Landmarks
            </h2>
            <button (click)="openShareDialog()" class="rpHoverText shareButton greyColor">
                Share<mat-icon>share</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="tableDescription" *ngIf="noMuscleGroupSelected()">
            If you're not familiar with the volume landmarks, read this
            <a href="https://renaissanceperiodization.com/training-volume-landmarks-muscle-growth/" target="_blank"
                class="rpThemeText">article</a>,
            otherwise this tool wont make sense. Click on a row in the table to view the in-depth recommendations for
            that muscle group. The units for the cells in the following table is <span class="italic">sets per
                week</span> except for Frequency which is <span class="italic">sessions per week</span>.
        </div>
        <div class="tableDescription" *ngIf="!noMuscleGroupSelected()">
            Here is a link to the official RP documentation for this muscle group: <a
                href="{{this.selectedMuscleGroup.url}}" target="_blank">{{this.selectedMuscleGroup.Muscle}} Training
                Guide</a>
        </div>
    </mat-card>
    <div class="landmarkTable" [ngClass]="{'allowHighlightIfNoSelected':noMuscleGroupSelected()}">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Muscle">
                <th mat-header-cell *matHeaderCellDef> Muscle </th>
                <td mat-cell *matCellDef="let muscleGroup" class="rpThemeText boldText"> {{muscleGroup.Muscle}} </td>
            </ng-container>
            <ng-container matColumnDef="MV">
                <th mat-header-cell *matHeaderCellDef> <abbr title="Maintenance Volume">MV</abbr> </th>
                <td mat-cell *matCellDef="let muscleGroup"> {{muscleGroup.MV}} </td>
            </ng-container>
            <ng-container matColumnDef="MEV">
                <th mat-header-cell *matHeaderCellDef> <abbr title="Minimum Effective Volume">MEV</abbr> </th>
                <td mat-cell *matCellDef="let muscleGroup"> {{muscleGroup.MEV}} </td>
            </ng-container>
            <ng-container matColumnDef="MAV">
                <th mat-header-cell *matHeaderCellDef> <abbr title="Maximum Adaptive Volume">MAV</abbr> </th>
                <td mat-cell *matCellDef="let muscleGroup"> {{muscleGroup.MAV}} </td>
            </ng-container>
            <ng-container matColumnDef="MRV">
                <th mat-header-cell *matHeaderCellDef> <abbr title="Maximum Recoverable Volume">MRV</abbr> </th>
                <td mat-cell *matCellDef="let muscleGroup"> {{muscleGroup.MRV}} </td>
            </ng-container>
            <ng-container matColumnDef="Freq">
                <th mat-header-cell *matHeaderCellDef> Freq </th>
                <td mat-cell *matCellDef="let muscleGroup"> {{muscleGroup.Freq}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let muscleGroup; columns: displayedColumns;" (click)="navigateTo(muscleGroup)">
            </tr>
        </table>
    </div>
    <div *ngIf="!noMuscleGroupSelected()" class="flexManager">
        <mat-card class="graphContainer">
            <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                [legend]="true">
            </canvas>
        </mat-card>
        <mat-card class="exercises">
            <div class="exerciseListContainer">
                <div *ngFor="let exercise of this.selectedMuscleGroup.exercises" class="exercise">
                    <div class="exerciseFrameContainer">
                        <iframe id="player" type="text/html" [src]="exercise | safe: 'resourceUrl'" frameborder="0"
                            class="exerciseFrame" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="disclaimer">
        I am not affiliated with <a href="https://renaissanceperiodization.com/" target="_blank"
            class="rpThemeText">Renaissance
            Periodization</a> (RP) and take no credit for their work.
        This tool is open source and if you're interested, here is the
        <a href="https://github.com/RyanLefebvre/RP-Hypertrophy-Hub-Visualizer" target="_blank"
            class="rpThemeText">source code</a>
    </div>
</div>