.container {
    max-width: 1200px;
    min-width: 300px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.tableDescription,
.tableHeader {
    margin: 0;
    padding: 10px;
}

.tableDescription {
    width: 90%;
    margin: auto;
}

.landmarkTable {
    margin: auto;
    overflow: auto;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    margin-top: 10px;
    background-color: white;

}

.landmarkTable table {
    width: 100%;
    border-style: solid;
    border-width: 0px;
}

.boldText {
    font-weight: bold;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
}

.pageTitleHolder {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.shareButton {
    border-width: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.shareButton:hover {
    cursor: pointer;
}

.greyColor {
    color: #c0c0c0;
}

.disclaimer {
    margin-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: small;
    text-align: center;
}

th {
    min-width: 50px;
}

.allowHighlightIfNoSelected .mat-row:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.allowHighlightIfNoSelected .mat-row:hover td,
.rpHoverColor:hover {
    color: var(--rp-color);
    cursor: pointer;
}

.flexManager {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.graphContainer {
    width: 100%;
    flex-basis: 60%;
    flex-grow: 1;
    min-width: 300px;
    margin: 5px;
    margin-bottom: 10px;
}

.exercises {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    flex-basis: 30%;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
    min-width: 300px;
    max-height: 425px;
}

.exerciseListContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 425px;
}

.exercise {
    min-height: 340px;
    display: flex;
    align-items: center;
}

.exerciseName {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.exerciseFrameContainer,
.exerciseName {
    width: 100%
}

.exerciseFrameContainer {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.exerciseFrame {
    min-height: 300px;
    min-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.italic{
font-style: italic;
}