.container{
    max-width:1200px;
    min-width:300px;
    width:95%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    display: block;
}

.tableDescription, .tableHeader{
    margin:0;
    padding:10px;
}

.tableDescription{
    width:90%;
    margin:auto;
}

.landmarkTable{
    width:97.5%;
    margin:auto;
    overflow:auto;
    border-radius: 4px;
    border-width:4px;
    border-style: solid;
    border-color:white;
    margin-top:10px;
    background-color:white;

}

.landmarkTable table{
    width:100%;
    border-style: solid;
    border-width: 0px;
}

.boldText{
    font-weight:bold;
}

th.mat-header-cell, td.mat-cell{
    text-align:center;
}

.pageTitleHolder{
    display:flex;
    align-items: center;
    justify-content:space-between
}

.shareButton{
    border-width:0px;
    background-color:white;
    color:#c0c0c0;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.shareButton:hover{
    cursor:pointer;
}

.disclaimer{
    margin-top:20px;
    padding-bottom:20px;
    color:white;
    font-size:small;
    text-align:center;
}

th{
    min-width:50px;
}

.mat-row:hover{
    background-color:rgb(224, 224, 224);
    cursor:pointer;
}

.mat-row:hover td{
    color:var(--rp-color);
}