.headerTitle {
  width: 100%;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.headerTitle mat-icon {
  float: left;
}

.realTitle {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.header {
  padding-bottom: 7px;
}

.bio {
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.profilePicture,
.profilePicture img {
  position: relative;
  width: 130px;
  height: 130px;
  display: block;
  margin: 35px auto 20px;
  border-radius: 50%;
}

.buttonGroup {
  margin-top: 20px;
}

.urlHolder {
  width: 90%;
  overflow-x: hidden;
  white-space: nowrap;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
